@model IEnumerable<BsoftWeb.Models.Equipamiento>

@{
    ViewBag.Title = "Lista Eduipamientos";
}

<h2>Lista de Equipamientos</h2>

@Html.Partial("_BtnIndexNuevoPartial")


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaRegistro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaRegistro)
        </td>
        <td>
            <button type="button" class="btn btn-primary btn-sm">
                @Html.ActionLink("Editar", "Edit", new { id = item.idEquipamiento }, new { Style = "color:White; text-decoration:none;" })
            </button>
            <button type="button" class="btn btn-primary btn-sm">
                @Html.ActionLink("Detalle", "Details", new { id = item.idEquipamiento }, new { Style = "color:White; text-decoration:none;" })
            </button>
            <button type="button" class="btn btn-primary btn-sm">
                @Html.ActionLink("Borrar", "Delete", new { id = item.idEquipamiento }, new { Style = "color:White; text-decoration:none;" })
            </button>
        </td>
    </tr>
}

</table>
