@model IEnumerable<BsoftWeb.Proveedor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.razonSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cuit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.domicilio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.celular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaRegistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Localidad.nombreLocalidad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.razonSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cuit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.domicilio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.celular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaRegistro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Localidad.nombreLocalidad)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idProveedor }) |
            @Html.ActionLink("Details", "Details", new { id=item.idProveedor }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idProveedor })
        </td>
    </tr>
}

</table>
