@model IEnumerable<BsoftWeb.Models.DetalleCompra>

@{
    ViewBag.Title = "Listad Detalle Compra";
}

<h2>Detalle Compra</h2>

@Html.Partial("_BtnIndexNuevoPartial")
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precioCpra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.plazoEntrega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaEntrega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.calidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.observaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Compra.nroComprobante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Equipamiento.descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precioCpra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.plazoEntrega)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaEntrega)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.calidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.observaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Compra.nroComprobante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Equipamiento.descripcion)
        </td>
        <td>
            <button type="button" class="btn-sm">
                @Html.ActionLink("Editar", "Edit", new { id = item.idDetalleCompra })
            </button>
            <button type="button" class="btn-sm">
                @Html.ActionLink("Detalle", "Details", new { id = item.idDetalleCompra })
            </button>
            <button type="button" class="btn-sm">
                @Html.ActionLink("Borrar", "Delete", new { id = item.idDetalleCompra })
            </button>
        </td>
    </tr>
}

</table>
