@model BsoftWeb.Models.PerfilUsuario

@{
    ViewBag.Title = "Borrar Perfil Usuario";
}

<h2>Borrar</h2>

<h3>¿Esta seguro de Borrar este Perfil de Usuario?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaRegistro)
        </dd>

    </dl>

    @Html.Partial("_BtnFrmDeletePartial")

    @*@using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="button" class="btn-sm">
                @Html.ActionLink("Cancelar", "Index", null, new { @class = "" })
            </button>
            <input type="submit" value="Borrar" class="btn btn-primary btn-sm" /> 
        </div>
    }*@
</div>
