@model BsoftWeb.Models.PerfilUsuario

@{
    ViewBag.Title = "Detalle Perfil Usuario";
}

<h2>Detalle</h2>

<div>
    <h4>Perfil de Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaRegistro)
        </dd>

    </dl>
</div>
<p>

    <button type="button" class="btn btn-primary btn-sm">
        @Html.ActionLink("Editar", "Edit", new { id = Model.idPerfilUsuario}, new { Style = "color:White; text-decoration:none;" })
    </button>
    <button type="button" class="btn btn-primary btn-sm">
        @Html.ActionLink("Cancelar", "Index", null, new { Style = "color:White; text-decoration:none;" })
    </button>

  
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.idPerfilUsuario }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>
