@model IEnumerable<BsoftWeb.Models.PerfilUsuario>

@{
    ViewBag.Title = "Perfiles de Usuarios";
}

<h2>Listado de Perfiles de usuario</h2>

<p>
    <button type="button" class="btn-sm">
        @Html.ActionLink("Nuevo Perfil de Usuario", "Create")
    </button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaRegistro)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaRegistro)
            </td>
            <td>
                <button type="button" class="btn-sm">
                    @Html.ActionLink("Editar", "Edit", new { id = item.idPerfilUsuario })
                </button>
                <button type="button" class="btn-sm">
                    @Html.ActionLink("Detalle", "Details", new { id = item.idPerfilUsuario })
                </button>
                <button type="button" class="btn-sm">
                    @Html.ActionLink("Borrar", "Delete", new { id = item.idPerfilUsuario })
                </button>
            </td>
        </tr>
    }
</table>
