@model IEnumerable<BsoftWeb.Models.Provincia>

@{
    ViewBag.Title = "Lista Provincias";
}

<h2>Lista de Provincias</h2>

@Html.Partial("_BtnIndexNuevoPartial")

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreProvincia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreProvincia)
        </td>
        <td>
            
            <button type="button" class="btn btn-primary btn-sm">
                @Html.ActionLink("Editar", "Edit", new { id = item.idProvincia }, new { Style = "color:White; text-decoration:none;" })
            </button>
            <button type="button" class="btn btn-primary btn-sm">
                @Html.ActionLink("Detalle", "Details", new { id = item.idProvincia }, new { Style = "color:White; text-decoration:none;" })
            </button>
            <button type="button" class="btn btn-primary btn-sm">
                @Html.ActionLink("Borrar", "Delete", new { id = item.idProvincia }, new { Style = "color:White; text-decoration:none;" })
            </button>
        </td>
    </tr>
}

</table>
