@model BsoftWeb.Models.Compra

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Compra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fechaCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nroComprobante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nroComprobante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proveedor.razonSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proveedor.razonSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.nombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nombreUsuario)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-primary btn-sm">
        @Html.ActionLink("Editar", "Edit", new { id = Model.idCompra }, new { Style = "color:White; text-decoration:none;" })
    </button>
    <button type="button" class="btn btn-primary btn-sm">
        @Html.ActionLink("Cancelar", "Index",null, new { Style = "color:White; text-decoration:none;" })
    </button>


    @*@Html.ActionLink("Edit", "Edit", new { id = Model.idCompra }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>
