@model IEnumerable<BsoftWeb.Models.Localidad>

@{
    ViewBag.Title = "Lista Localidades";
}

<h2>Lista loccalidad</h2>

@Html.Partial("_BtnIndexNuevoPartial")

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreLocalidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codigoPostal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provincia.nombreProvincia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreLocalidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codigoPostal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provincia.nombreProvincia)
        </td>
        <td>
            <button type="button" class="btn-sm">
                @Html.ActionLink("Editar", "Edit", new { id = item.idLocalidad})
            </button>
            <button type="button" class="btn-sm">
                @Html.ActionLink("Detalle", "Details", new { id = item.idLocalidad })
            </button>
            <button type="button" class="btn-sm">
                @Html.ActionLink("Borrar", "Delete", new { id = item.idLocalidad })
            </button>
        </td>
    </tr>
}

</table>
