@model IEnumerable<BsoftWeb.Models.Localidad>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreLocalidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codigoPostal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provincia.nombreProvincia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreLocalidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codigoPostal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provincia.nombreProvincia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idLocalidad }) |
            @Html.ActionLink("Details", "Details", new { id=item.idLocalidad }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idLocalidad })
        </td>
    </tr>
}

</table>
