@model BsoftWeb.Models.Servicio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Servicio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nroOrden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nroOrden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.plazo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plazo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.calidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TecnicoProveedor.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TecnicoProveedor.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.nombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nombreUsuario)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-primary btn-sm">
        @Html.ActionLink("Editar", "Edit", new { id = Model.idServicio }, new { Style = "color:White; text-decoration:none;" })
    </button>
    <button type="button" class="btn btn-primary btn-sm">
        @Html.ActionLink("Cancelar", "Index", null, new { Style = "color:White; text-decoration:none;" })
    </button>


    @*@Html.ActionLink("Edit", "Edit", new { id = Model.idServicio }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>
