@model IEnumerable<BsoftWeb.Models.Servicio>

@{
    ViewBag.Title = "Listado Servicios";
}

<h2>Listado de Servicios</h2>

<p>
   @Html.Partial("_BtnIndexNuevoPartial")
  
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nroOrden)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.plazo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.calidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaRegistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TecnicoProveedor.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.nombreUsuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nroOrden)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.plazo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.calidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaRegistro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TecnicoProveedor.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.nombreUsuario)
        </td>
        <td>
            <button type="button" class="btn-sm">
                @Html.ActionLink("Editar", "Edit", new { id = item.idServicio })
            </button>
            <button type="button" class="btn-sm">
                @Html.ActionLink("Detalle", "Details", new { id = item.idServicio })
            </button>
            <button type="button" class="btn-sm">
                @Html.ActionLink("Borrar", "Delete", new { id = item.idServicio})
            </button>
         
        </td>
    </tr>
}

</table>
