@model BsoftWeb.Models.TecnicoProveedor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TecnicoProveedor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cuil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cuil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.especialidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.especialidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nivelEspecialidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nivelEspecialidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaIngreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaEgreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaEgreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proveedor.razonSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proveedor.razonSocial)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idTecnicoProveedor }) |
    @Html.ActionLink("Back to List", "Index")
</p>
