@model IEnumerable<BsoftWeb.Models.TecnicoProveedor>

@{
    ViewBag.Title = "Lista de Tecnicos";
}

<h2>Lista de Tecnicos</h2>

@Html.Partial("_BtnIndexNuevoPartial")

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cuil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.especialidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nivelEspecialidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaIngreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaEgreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaRegistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proveedor.razonSocial)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cuil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.especialidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nivelEspecialidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaEgreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proveedor.razonSocial)
            </td>
            <td>
                <button type="button" class="btn btn-primary btn-sm">
                    @Html.ActionLink("Editar", "Edit", new { id = item.idTecnicoProveedor }, new { Style = "color:White; text-decoration:none;" })
                </button>
                <button type="button" class="btn btn-primary btn-sm">
                    @Html.ActionLink("Detalle", "Details", new { id = item.idTecnicoProveedor }, new { Style = "color:White; text-decoration:none;" })
                </button>
                <button type="button" class="btn btn-primary btn-sm">
                    @Html.ActionLink("Borrar", "Delete", new { id = item.idTecnicoProveedor }, new { Style = "color:White; text-decoration:none;" })
                </button>
            </td>
        </tr>
    }

</table>
